body{
    text-align: center;
    font-family: 'Blippo', 'fantasy', 'cursive';
    background-image: url("../images/background.jpg");
    background-color: rgb(255, 255, 255);
}

#content{
    width: 50%;
    max-width: auto;
    margin: 30% auto;
    margin-top: 20%;
    border-color: cornsilk;
    border-spacing: 2%;
    border-radius: 15px;
    
}
#quote-box{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: yellow;
    padding: auto;
    margin: 20px;
}


#list{
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: yellow;
    padding: auto;
    margin: 20px;
}

#description{
    font-size: 20px;
}

.pinkButton{
    text-align: center;
    background-color: palevioletred;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.3s;
}

.blackButton{
    background-color: black;
    color: white;
    border-color: yellow;
    border-radius: 15px;
}

#liked-quotes{
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}

#quoteText{
    font-size: x-large;
    font-weight: bold;
}

#authorName{
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}

.blur{
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.5s ease;
}

#instructions{
    font-style: italic;
    font-family: cursive;
    font-weight: lighter;
}
